body {
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./image/7941730.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  background-image: url(./image/b31c2395c69a5083adb4b77e17625e2d.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
